*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
background-color: #d4dff0e7;
}

header{
    width: 100%;
    height: 50px;
    background-color: #fefdfd;
    box-shadow:  3px 3px 5px  rgba(0, 0, 0, 0.1);

}
#header-placeholder{
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    text-align: center;
    line-height: 50px;
}

#header-placeholder a{
    text-decoration: none;
    color: #000;
}

#header-placeholder a:hover{
    color: #4f76c4;
}

nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefdfd;
    box-shadow:  3px 3px 5px  rgba(0, 0, 0, 0.1);
    
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content:flex-start ;
    align-items: center;
}

nav li{
    height: 50px;

}

nav a{
    height: 100%;
    padding: 0 30px ;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #000;

}

nav a:hover{
    color: #4f76c4;
}

/* nav li:first-child{

} */

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #fefdfd1b;
    backdrop-filter: blur(10px);
    box-shadow: #000 0px 0px 10px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button{
display: none;
}


@media  (max-width: 800px){
    .hideOnMobile{
        display: none;
}
    .menu-button{
        display: block;
    }
}

@media  (max-width: 500px){
    .sidebar{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    }

    .sidebar li{
    width: 100%;
    }

    .sidebar a{
    width: 100%;
    padding: 0 10px;
    }

}

.footerlogo{
width: 250px;
    height: 250px;
    margin: 0 auto;
    display: block;
}

.footerlogo img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#footer-placeholder{
background-color: #bdc5d2;
}